@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima Nova Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima Nova Thin.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Book";
  src: url("/fonts/Proxima Nova Black.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
